<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if request.username %}
    <div>
        <p>welcome {{username}}</p>
        <a href="{% url 'exit' %}">EXIT</a>
    </div>
    {% else %}
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <h1>My Bank ATM</h1>
        <div>
            <input type="text" name="username" placeholder="USERNAME">
        </div><br>
        <div>
            <input type="text" name="pin" placeholder="PIN">
        </div><br>
        <div>
            <input type="submit" value="ENTER">
        </div>
        <div>
            {% if msg %}
            <p>{{msg}}</p>
            {% endif %}
        </div>
    </form>
    {% endif %}
</body>

</html>